:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", Serif;
    --body-font: Arial, Helvetica, Sans-Serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin: 10 auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 25px;
    left: 15px;
    padding: 0.65rem;
    opacity: 0.8;
    color: #fff;
    background-color: var(--accent1-color);
}

.hero article img {
    float: right;
    width: 125px;
    height: 0 auto;
    opacity: 20.6;
}

footer {
    bottom: 0;
    margin: 1rem;
    border-top: 1px solid #000;
    padding: 0.5rem;
    color: var(--accent1-color);
    font-weight: 300;
    font-style: var(--body-font);
}

footer img {
    width: 95px;
}