\/* Page background */ body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Form container */
main {
    max-width: 650px;
    margin: 40px auto;
}

/* Heading */
h1 {
    color: #0033cc;
    font-size: 1.6em;
    margin: 15px;
}

/* Gray background starts here (q1) */
.quiz-form {
    background-color: #eee;
    padding: 25px;
    border-radius: 6px;
}

/* Form layout */
form {
    display: flex;
    flex-direction: column;
}

/* Labels */
label {
    color: #000;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
}

/* Only the number is blue */
.q-number {
    color: #0033cc;
    font-weight: bold;
    font-size: 1.2em;
}

/* Inputs */
input,
textarea,
select {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #999;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Textarea height */
textarea {
    height: 100px;
}

/* Code block inside label */
code {
    width: fit-content;
    display: block;
    background-color: #333;
    color: #fff;
    padding: 6px 10px;
    margin: 8px auto;
    font-size: 0.9em;
    border-radius: 3px;
    text-align: center;
}

/* Submit button */
button {
    margin-top: 25px;
    padding: 12px;
    background-color: #00008b;
    color: white;
    font-size: .9em;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #000066;
}